/* utility */

.relative {
    position: relative;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1200px;
    margin: 0 auto;
}

/* #site-header */

#site-header {
    margin: 0 0 2rem;
}

.container.logo {
    background-color: lightsalmon;
    height: 100px;
}

#header-nav {
    background-color: gold;
    height: 50px;
}

/* #site-main */

#site-main {
    background-color: aliceblue;
    margin: 0 0 2rem;
}

main > .container.image {
    background-color: cadetblue;
    height: 500px;
    margin: 0 0 2rem;
}

.container.description {
    background-color: darkkhaki;
    height: 100px;
    width: 600px;
    position: absolute;
    left: 2.5rem;
    bottom: 4.5rem;
}

.content.title {
    background-color: crimson;
    height: 80px;
    margin: 0 0 2rem;
}

.column {
    background-color: coral;
    width: 23%;
}

.central {
    background-color: coral;
    width: 50%;
    margin: 0 2%;
}

.column, .central {
    height: 550px;
    float: left;
}

.column > .container.image, .central > .container.image {
    background-color: rgba(255, 255, 255, 0.5);
    height: 235px;
}

/* #site-footer */

#site-footer {
    background-color: lightslategray;
    height: 75px;
}